html, body {
    height: 100%;
}
.container {
    margin: 0 auto;
    /*width: 600px;*/
    height:100%;
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: stretch;/*cross axis*/
}
.container > div {
    flex:1 0 auto;
}
.container > div:nth-child(1) {
    /*align-self:center;*/
    /*flex:1; flex-grow 1 flex-shrink 0 flex-basis auto*/
    /*flex-grow:1;*/
}
.container > div:nth-child(2) {
    /*align-self:flex-start;*/
    /*flex-shrink:1;*/
    /*flex-basis:300px;*/
    flex:5;
}
.container > div:nth-child(6) {
    /*align-self:flex-end;*/
    /*flex-basis: 200px;*/
    order:-2;
}
.home {
    /*order:1;*/
}
.search {
    /*order:3;*/
    order:-1;
}
.profile {
    /*order:2;*/
}