* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
html, body {
    margin: 10px;
    background: #eea;
    font-family: "Trebuchet MS",Arial,sans-serif;
}
.container {
    font-size: 1.5em;
    background: #87bfa5;
    border:5px solid deeppink;
}
nav a {
    text-decoration: none;
    color: #eea;
    text-transform:capitalize;
}
.container > li {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.search-input {
    background: #87bfa5;
    border: 0;
    width: 100%;
    outline: none;
    border-bottom:1px solid #eea;
    color:#eea;
    font-size:1em;
    text-align: center;
}
::placeholder {/*minden placeholderre*/
    color:#eea;
}
.search-input::placeholder {/*.search-input placeholderre*/
    color:#eea;
    opacity: 0.5;
}
/*************************/
@media screen and (min-width:640px) and (max-width:1199px) {/*tablet*/
    .container {
        display:flex;
        flex-flow: row wrap;
    }
    .container > li {
        width: 50%;
    }
}

@media screen and (min-width:1200px){/*desktop*/
    .container {
        display:flex;
    }
    .search {
        flex:1 1 auto;
    }
    .search-input {
        text-align: left;
    }
}
