* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    padding: 5px;
    background: #eea;
}
.container {
    border:5px solid deeppink;
}
.container > div {
    padding: 10px;
    font-size:1.5em;
    color:orange;
}
.container > div:nth-child(1) {
    background: #87bfa5;
}
.container > div:nth-child(2) {
    background: #ee5f5a;
}
.container > div:nth-child(3) {
    background: #77b9a1;
}



