* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #333;
    color: #fff;
    line-height:1.5em;
    text-align:center;
    font-size:1.1em;
}
img {
    display:block;
    width:100%;
    height:auto;
}
ul,ol {
    list-style:none;
}
h1,h2,h3,
p{
    padding:1em 0;
}
.btn {
    display:inline-block;
    background:#333;
    border:1px solid #666;
    padding: 1em 2em;
    color:#fff;
    text-decoration: none;
}
.btn:hover {
    color:#333;
    background: #eee;
}
/*hero*/
header {
    min-height:450px;
}
header > .bg-img {
    background: #333
                url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                no-repeat
                center center;
    background-size: cover;
    height:450px;
    width:100%;
    /*pozicio*/
    position:absolute;
    z-index: -1;
    opacity: .3;
}
header > h1 {
    padding-top: 80px;
    padding-bottom:.5em;
}
header > p {
    padding: 1em;
}
#section-1, #section-3 {
    background:#eee;
    color:#333;
    padding: 1em;
}
/*section 2*/
#section-2 {
    padding: 1.5em 1em 1em;
}
#section-2 li {
    background: #fff;
    color:#333;
    margin-bottom: 1.5em;
}
#section-2 .card-content {
    padding: 1em;
}
/*section 4*/

#section-4 > .box {
    background: #0292d8;
    padding: 1.5em;
}
#section-4 > .box:last-of-type {
    background: #ff4f1b;
}
#main-footer {
    background: #000;
    padding: 1em;
}
#main-footer a {
    text-decoration: none;
    color:#0292d8;
}