body {
    margin: 0;
    padding: 0;
}
header {
    background:beige;
}
nav {
    background: yellow;
}
ul {
    list-style:none;
    padding: 0;
}
/*menüpontok rendezése - inlineblock*/
nav a { /*selecor1 selector2 {
    minden selector2 elemre érvényes ami 1 selector1 en belül van
}*/
    color:green;
}
ul.mainMenu {
    overflow: hidden;/*túllógó elemek elrejtése, most azért hogy a felső alsó margók is látszódjanak*/
}

ul.mainMenu a { /*selecor1.classname selector2 {
    minden selector2 elemre érvényes ami 1 selector1 en belül van, aminek classname az osztálya
}*/
    color:red;
    text-decoration: none;
}
ul.mainMenu a {
    padding: 5px;
    border: 1px solid black;
    margin: 5px;

    display:block;
}
/*hover*/
ul.mainMenu a:hover {
    background:green;
    color:yellow;
}
/*menu alakítása 640px vagy nagyobb kijelzőkre*/
@media screen and (min-width:640px){
    /*csak a 640px nél nagyobb megjelenítésen érvényes szabályok*/
    ul.mainMenu li {
        display:inline-block;/*egymás mellé kerülnek de lesz 1 space a kodformázás miatt*/
    }
    ul.mainMenu a {
        display:inline-block;
    }
}


/*media query bemutatása*/
@media screen and (min-width:960px){
    /*csak a 960px nél nagyobb megjelenítésen érvényes szabályok*/
    nav {
        background: orange;
    }
}
@media screen and (min-width:1200px){
    nav {
        background: lime;
    }
}

@media screen and (min-width:1080px) and (max-width:1199px){
    nav {
        background: brown;
    }
}