* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
    font-family: Arial, sans-serif;
    font-size:18px;
}

.container {
    margin:0 auto;
    display:block;
    width: 800px;
}

.myBox {
    width: 800px;
    margin: 50px 0;
    background-color: #D6E9FE;
    text-align: center;
}

.item {
    display:inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    border:1px solid black;
}