@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');/**fontawesome5**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    /*background: lightblue;*/
    margin: 0 auto;
    padding: 0 15px;
    /* border: 1px solid black;*/
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    color: #818181;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.2em;
    text-transform: uppercase;
    line-height: 1.5em;
}
h3 {
    color: #1e283c;
}
p {
    margin: 15px 0;
}
section {
    /*background: khaki;*/
}
.lightGreyBg {
    background-color: #f7f7f7;
}
header {
    /*    position:relative;*/
    background: deeppink;
}

/*fejléc elemek és menu*/
header {
    height: 100%;
    padding-top: 75px;
    background: url("https://picsum.photos/1920/1080") center center no-repeat;
}

header > nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 8px rgba(0, 0, 0, .65);
    position: absolute;
    width: 100%;
    top: 0;
    transition: top 400ms ease-in-out;
    z-index:1000;
}

header .logo > a > img {
    width: 180px;
}

nav > .wrapper {
    display: flex;
    flex-flow: row wrap;
}

.mainMenu a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 0;
}

.mainMenu a:hover {
    color: #ffb32f !important;
}

.mainMenu {
    padding: 15px;
    /*display:none;*/
    width: 100%;
}

.logo {
    padding: 10px;
}

#menuToggle {
    color: #fff;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

.sticky {
    background: #fff;
    position: fixed !important;

    top: -75px;
    transform: translateY(75px);
    transition: transform 400ms ease-in-out;
}

.sticky .mainMenu a,
.sticky #menuToggle {
    color: #1e283c;
}

#hero {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#hero > h1 > span {
    color: #ffb32f;
}

#hero > p {
    margin: 15px 0;
}

/*gomb*/
.btn {
    text-decoration: none;
    color: #fff;
    background: #ffb32f;
    display: inline-block;
    padding: 7px 15px;
    margin: 15px 0;
    align-self: flex-start;
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background: #1e283c;
}

.mainMenu {
    display: none;
}

/*about*/

.flex-2-1 {
    display: flex;
    flex-flow: column nowrap;
}

.sectionTitle {
    text-align: center;
    padding: 40px 0 30px;
    color: #1e283c;
}

.subtitle {
    font-weight: bold;
    color: #ffb32f;
}

.subtitle:before,
.subtitle:after {
    content: '\2015';
    margin: 0 15px;
}

.personal-info {
    margin-top: 30px;
}

.personal-info > li {
    padding: 10px 0;
    border-bottom: #818181 solid 1px;
}

.personal-info > li:first-letter {
    text-transform: uppercase;
}

.personal-info > li > span {
    color: #1e283c;
    font-weight: 600;
}

.play {
    padding: 30px 0;
}
/*skills*/

ul.skills > li,
ul.counters > li {
    display:flex;
    flex-flow:column nowrap;
    margin-bottom: 15px;
}
ul.skills .title {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    font-weight:600;
    color:#1e283c;
    padding:5px 0;
    text-transform:uppercase;
}
ul.skills .bar-holder {
    background-color: #757575;
}
ul.skills .bar-inner {
    height:15px;
    background-color:#ffb32f;
}
#skill footer {
    background: #000;
    margin-top:45px;
}
/**contact**/
input, textarea {
    display: inline-block;
    width:100%;
    min-height:3em;
    border:none;
    border-bottom:1px solid #e0e0e0;
    font-family:'Arial Narrow',Arial,sans-serif;
    font-size:16px;
    color:#777;
    outline:none;
    margin-bottom: 15px;
}
button {
    border:none;
}
input:focus, textarea:focus {
    border-bottom-color:#222;
}
.grid-holder {
    display:grid;
    grid-gap:30px;
}
ul.info {
    padding: 15px 0;
}
ul.info li {
    margin: 15px 0;
}
.social a {
    color:#1e283c;
    margin-right: 15px;
}
.social a:hover {
    color:#777;
}
ul.info b {
    color:#1e283c;
    text-transform:capitalize;
    display:block;
    margin-bottom: 10px;
}

/**skills counters**/
#skill footer {
    padding: 25px 0;
}
.counters {
    color:#fff;
    font-size:20pt;
    font-weight:bold;
}
.counters > li {

}
.counters i {

}
.counters p {

}
.counters .number {
    margin: 30px auto 15px;
    color:#ffb32f;
}
/*Services grid*/
.service-grid > .box {
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    padding: 0 15px 15px;
}

.service-grid > .box > .head {
    border-bottom: 1px solid lightgrey;
    height: 60px;
    margin: 0 -15px;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    line-height: 1em;
    text-align: right;
    color: #e1e1e1;
    position: relative;
    overflow: hidden;
}

.service-grid > .box > .head > span {
    position: absolute;
    right: 10px;
    bottom: -0.5em;
    transition: all 300ms ease-in-out;
}

.service-grid > .box:hover > .head > span {
    bottom: 0;
}
.service-grid h3 {
    margin-top: 25px;
}
.service-grid .icon {
    color: #fff;
    background-color: #ffb32f;
    font-size: 2em;
    display: inline-block;
    padding: 25px;
    transition: all 300ms ease-in-out;
    margin: 30px auto 20px;
}

.service-grid .box:hover > .icon {
    transform: scaleX(-1);
}


/*lábléc*/
footer {
    text-align: center;
}

/*tablet*/
@media screen and (min-width: 640px) {
    .wrapper {
        width: 80%;
        padding: 0;
    }

    /*about*/
    .flex-2-1 {
        flex-direction: row !important;
    }

    .flex-2-1 > .box:nth-child(2) {
        flex: 1 1 40%;
        padding: 30px;
    }

    .flex-2-1 > .box:nth-child(1) {
        flex: 1 1 60%;
    }
    .flex-1-1 {
        display:flex;
        flex-flow: row nowrap;
    }
    .flex-1-1 > .box {
        flex:1 1 50%;
    }
    /*skills*/
    ul.skills {
        padding-left:30px;
    }
    /*counters*/
    ul.counters {
        display:flex;
        flex-flow: row nowrap;
        justify-content:space-between;
        padding:30px 0 15px;
    }
    /*grid (contact)*/
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .grid-1-1 {
        grid-template-columns: 1fr 1fr;
    }
    /*services*/
    .service-grid  {
        grid-template-columns: 1fr 1fr;
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
    }

    .logo {
        flex: 1;
    }

    .mainMenu {
        display: flex !important;
        flex-flow: row nowrap;
        width: auto;
        align-items: center;
    }

    .mainMenu > li {
        padding: 0 10px;
    }

    nav > .wrapper {
        display: flex;
    }

    #menuToggle {
        display: none;
    }

    #hero > p {
        max-width: 50%;
    }

    /*about*/
    .personal-info {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 0 15px;
    }
    /*services*/
    .service-grid  {
        grid-template-columns: repeat(3,1fr);
    }
}